# APP
APP_NAME=TICKET
APP_PORT=3000
NODE_ENV='development'
APP_URL_API="http://localhost:3000"

# FILE
FILESYSTEM_DRIVER="server"
DISKS_DIR="/public/uploads"

# DATABASE
DB_HOST="localhost"
DB_PORT="3306"
DB_CONNECTION="mysql"
DB_DATABASE="pytalent"
DB_USERNAME="root"
DB_PASSWORD=""
DB_SYNCHRONIZE=""
DB_LOGGING="false"
DB_STORAGE=
DB_TIMEZONE='+7:00'

TYPEORM_SEEDING_SEEDS=src/databases/seeds/*{.ts,.js}

MAIL_PROVIDER="smtp"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_AUTH_USER="khoa199710hn@gmail.com"
MAIL_AUTH_PASSWORD="lkpxjwomqvfhiwcl"
MAIL_FROM_NAME="boosty ticket system"

# Login Graphql
END_POINT_LOGIN="https://cfbfdn7fgp.ap-northeast-1.awsapprunner.com/graphql"

#jwt
JWT_SECRET="RPcdJrJ1ZA"
JWT_EXPIRES="3600s"
